<!-- <app-loading-animation *ngIf="loading"></app-loading-animation> -->

<div class="custom-container">
  <div class="Headline" [@fadeInOut]>
    <br>Best place to keep <br>track of the crypto market

  </div>
  <main>
    <section>
      <div class="description">
        <div class="coins">
          <app-coin-info *ngFor="let coin of Coins" [Coin]="coin"></app-coin-info>
        </div>

        <div class="window">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path
              d="M280-160 80-360l200-200 56 57-103 103h287v80H233l103 103-56 57Zm400-240-56-57 103-103H440v-80h287L624-743l56-57 200 200-200 200Z" />
          </svg> -->
          We've made selling cryptocurrency a seamless and secure experience. Whether you're
          looking to cash out your profits or adjust your portfolio, our user-friendly platform offers a straightforward
          process for selling your digital assets.
          <img src="./assets/Images/Trade.jpg">

        </div>
        <div class="window">

          <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path
              d="M570-104q-23 23-57 23t-57-23L104-456q-11-11-17.5-26T80-514v-286q0-33 23.5-56.5T160-880h286q17 0 32 6.5t26 17.5l352 353q23 23 23 56.5T856-390L570-104Zm-57-56 286-286-353-354H160v286l353 354ZM260-640q25 0 42.5-17.5T320-700q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640ZM160-800Z" />
          </svg> -->
          Discover the seamless world of selling cryptocurrencies with [Your Exchange Name]. Our platform is designed to
          empower you with a straightforward and secure process, making selling digital assets a smooth and rewarding
          experience.
          <img src="./assets/Images/Description photo.png">
        </div>
        <div class="window">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path
              d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
          </svg> -->
          Embark on a journey of buying cryptocurrencies with ease at [Your Exchange Name]. Our platform is designed to
          provide you with a streamlined and secure process, ensuring that purchasing digital assets is a
          straightforward and rewarding experience.
          <img src="./assets/Images/Buy.jpg">
        </div>

      </div>
    </section>
  </main>

</div>