.container{
    width: 100%;
    min-height: 100vh;
    margin-top: 9rem;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    z-index: 0;
    gap: 6rem;
    padding: 3%;
}
