.Container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 0;
    top: 5rem;
}

article {
    text-align: left;
    font-size: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    padding: 1%;
    background-color: aquamarine;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

article h1 {
    font-size: 1rem;
    margin-bottom: 3%;
}
/* 
.About{
    
} */

article:hover {
    box-shadow: 15px 15px rgba(0, 0, 0, 0.8);
    transform: translate(-10px, -10px);

}