<div class="Container">
Make menu open when clickd on.
    <div class="titles">
        <div class="title" (click)="TitleClicked(article)" *ngFor="let article of TopArticles">
            {{article.title}}
        </div>
    </div>

    <article *ngIf="Article">
        <a href="{{Article.url}}">
            <h1>{{Article.title}}</h1>
            <div>
                <div class="About">
                    {{Article.publishedAt}}
                    {{Article.author}}
                </div>
                {{Article.description}}
                <img Article="150px" width="120px" src="{{Article.urlToImage}}" alt="">
            </div>
        </a>
    </article>
</div>