@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300;1,400&family=Sora&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  margin-top: 6vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2% 5%;
  background-color: #0d2857;
  z-index: 100;
  gap: 1rem;
}

.navbar h2 {
  color: white;
  font-weight: 500;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 25px;

}

.navbar button{
  color: white;
  border-width: 1px;
  border-color: transparent;
  border-radius: 15%;
  padding: 10px 5px;
  transition: border-color 0.3s ease;
}

.navbar button:hover{
  border-color: white;
}

footer{
  padding: 80px 50px 40px;
  position: relative;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}





