
.container {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: linear-gradient(to right, #06204c, #284a75, #d40581 );
  z-index: 0;
}

#headline {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
}

.navbar {
  display: flex;
  align-items: center; /* Align items vertically in the flex container */
  width: 100%;
  height: 10%;
}

#logo {
  height: 10%;
  width: 10%;
  margin-right: auto;
  background-color: rgb(135, 165, 145);
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 70px;
  margin-right: 5%;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.nav-button:hover {
  border-color: rgb(179, 186, 225);
  background-color: rgb(179, 186, 225);
  color: rgb(2, 2, 18);
}
