<!-- <app-loading-animation *ngIf="loading"></app-loading-animation> -->

<div class="custom-container">
  <div class="introduction">
    Best place to keep <br>track of the crypto market
  </div>
  <table class="custom-table" [ngClass]="{'visible': showTable}">
    <thead>
      <tr>
        <th class="">Coin</th>
        <th class="">Latest Price</th>
        <th class="hide-on-small-screen-1">24h%</th>
        <!-- <th class="hide-on-small-screen-1">1h%</th> -->
        <!-- <th class="hide-on-small-screen-1">7d%</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Coin of CoinsTable">
        <td class="">{{ Coin.symbol }}</td>
        <td class="price-cell" [ngClass]="{ 'negative': Coin.lastPrice < 0, 'positive': Coin.lastPrice >= 0 }">
          ${{ Coin.lastPrice }}
        </td>
        <td class="change-cell hide-on-small-screen-1" [ngClass]="{ 'negative': Coin.priceChangePercent < 0, 'positive': Coin.priceChangePercent >= 0 }">
          {{ Coin.priceChangePercent > 0 ? "+" : "" }} {{ Coin.priceChangePercent }}%
        </td>
        <!-- <td class="change-cell hide-on-small-screen-1" [ngClass]="{ 'negative': Coin.priceChange.hourlyChange < 0, 'positive': Coin.priceChange.hourlyChange >= 0 }">
          {{ Coin.priceChange.hourlyChange > 0 ? "+" : "" }} {{ Coin.priceChange.hourlyChange }}%
        </td> -->
        <!-- <td class=" change-cell hide-on-small-screen-1" [ngClass]="{ 'negative': Coin.priceChange.weeklyChange < 0, 'positive': Coin.priceChange.weeklyChange >= 0 }">
          {{ Coin.priceChange.weeklyChange > 0 ? "+" : "" }} {{ Coin.priceChange.weeklyChange }}%
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
