.custom-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-radius: 1.5rem;
  border: 5px solid #5d5ddf;
  box-shadow: 0 2px 4px rgba(1, 1, 0, 0.1);
  padding: 0.5rem;
  z-index: 1;
}

.custom-table {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 6rem);
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0.2rem;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 0.2rem;
  border-radius: 0.8rem;
}

.price-cell.negative,
.change-cell.negative,
.price-cell.positive,
.change-cell.positive {
  font-size: 0.8rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 1300px) {
  .custom-table .hide-on-small-screen-1 {
    display: none;
    /* Hide specific cells on smaller screens */
  }
}

@media (max-width: 600px) {
  .custom-table .hide-on-small-screen-2 {
    display: none;
  }

  /* Adjust font size and padding for all cells on smaller screens */
  .custom-table th,
  .custom-table td {
    font-size: 0.9rem;
    padding: 0.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }
}