<div class="Container">
  <div class="Headline">
    <h1>Unlocking Financial Freedom</h1>
    <h2>Explore the Latest Trends and Opportunities in the Crypto Market</h2>
  </div>
  <img src="./assets/Images/HomePageImage2.png" alt="">
  <table class="custom-table">
    <thead>
      <tr>
        <th class="IconRow hide-on-small-screen-1">Icon</th>
        <th class="hide-on-small-screen-1">Coin</th>
        <th class="hide-on-small-screen-1">Latest Price</th>
        <th class="hide-on-small-screen-1">24h%</th>
        <th class="hide-on-small-screen-1">1h%</th>
        <!-- <th class="hide-on-small-screen-1">7d%</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Coin of CoinsTable">
        <td class="icon">
          <img src='./assets/Coin-icons/{{Coin.symbol.replace("USDT", "").toLowerCase()}}.svg'
            onerror="this.src='./assets/Coin-icons/not-available-circle.png'" height="40px" width="40px">
        </td>
        <td class="symbol-cell">
          {{ Coin.symbol }}
        </td>

        <td class="price-cell" [ngClass]="{ 'negative': Coin.lastPrice < 0, 'positive': Coin.lastPrice >= 0 }">
          ${{ Coin.lastPrice }}
        </td>
        <td class="change-cell hide-on-small-screen-1"
          [ngClass]="{ 'negative': Coin.priceChangePercent < 0, 'positive': Coin.priceChangePercent >= 0 }">
          {{ Coin.priceChangePercent > 0 ? "+" : "" }} {{ Coin.priceChangePercent }}%
        </td>
        <td class="change-cell hide-on-small-screen-1"
          [ngClass]="{ 'negative': Coin.priceChange < 0, 'positive': Coin.priceChange >= 0 }">
          {{ Coin.priceChange > 0 ? "+" : "" }} {{ Coin.priceChange }}%
        </td>
        <!-- <td class=" change-cell hide-on-small-screen-1"
          [ngClass]="{ 'negative': Coin.priceChange.weeklyChange < 0, 'positive': Coin.priceChange.weeklyChange >= 0 }">
          {{ Coin.priceChange.weeklyChange > 0 ? "+" : "" }} {{ Coin.priceChange.weeklyChange }}%
        </td> -->
      </tr>
    </tbody>
  </table>



</div>