.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 15rem;
  border-radius: 15px;
  background-color: rgb(15, 163, 183);
  position: relative;
  overflow: hidden;
  user-select: none;
  opacity: 0.2;
  transition: opacity 0.3 ease;
}



ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  transition: opacity 0.3s ease-in;
}

ul li {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translate(-50%, -50%);
 
}

h2{
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 9rem;
  transform: translate(-50%, -50%);
}

.info {
  transition: opacity 0.3s ease-in; 
  font-size: 1rem;
  position: absolute;
  top: 10%;
  left: 94%;
  transform: translate(-50%, -50%);

}

.container:hover {
  container{
    opacity: 1;
  }

  .info {
    opacity: 1;
  }
}